@model System.Collections.Generic.List<string>
<ul class="list-group">
    @foreach (var email in @Model)
    {
        <li data-email="@email" class="list-group-item">@email<span class="badge finder-result"></span></li>
    }
</ul>